.navbar {
  display: flex;
  gap: 20px;
  background-color: #0d1117;
  padding: 20px;
  color: #f0f6fc;
}

.navbar a {
  color: #f0f6fc;
  text-decoration: none;
  height: 100%;
}

.navbar .link:hover {
  border: 1px solid white;
}
