@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-li {
    @apply rounded-full
    p-1
    ease-in-out
    duration-150
    hover:shadow-inner
    text-slate-100
    hover:bg-black
    hover:text-slate-300;
  }
}
