@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-li {
    @apply rounded-full
    px-1
    py-2
    ease-in-out
    duration-150
    hover:shadow-inner
    hover:bg-gray-200
    hover:text-gray-600
    hover:fill-gray-300
    dark:hover:bg-black
    dark:hover:text-slate-400
    dark:hover:fill-slate-500;
  }

  .cute-li {
    @apply flex-1
    rounded-3xl
    cursor-pointer
    overflow-hidden
    transition
    ease-in-out
    hover:-translate-y-1
    hover:drop-shadow-xl;
  }
}
